body, html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Inter;
  &::-webkit-scrollbar {
    display: none;
  }
}



@mixin block {
  width: 500px;
  height: 720px;
  background: #FFF;
  padding: 16px;
  border-radius: 10px;
}

@mixin field {
  width: 100%;
  height: 32px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 0 9px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    margin-bottom: 16px;
    position: relative;
    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
    &:focus {
      outline: none;
    }

    &#date {
      &::placeholder {
        background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.80001 1.6C4.58783 1.6 4.38435 1.68428 4.23432 1.83431C4.08429 1.98434 4.00001 2.18783 4.00001 2.4V3.2H3.20001C2.77566 3.2 2.36869 3.36857 2.06864 3.66863C1.76858 3.96869 1.60001 4.37565 1.60001 4.8V12.8C1.60001 13.2243 1.76858 13.6313 2.06864 13.9314C2.36869 14.2314 2.77566 14.4 3.20001 14.4H12.8C13.2244 14.4 13.6313 14.2314 13.9314 13.9314C14.2314 13.6313 14.4 13.2243 14.4 12.8V4.8C14.4 4.37565 14.2314 3.96869 13.9314 3.66863C13.6313 3.36857 13.2244 3.2 12.8 3.2H12V2.4C12 2.18783 11.9157 1.98434 11.7657 1.83431C11.6157 1.68428 11.4122 1.6 11.2 1.6C10.9878 1.6 10.7843 1.68428 10.6343 1.83431C10.4843 1.98434 10.4 2.18783 10.4 2.4V3.2H5.60001V2.4C5.60001 2.18783 5.51572 1.98434 5.36569 1.83431C5.21566 1.68428 5.01218 1.6 4.80001 1.6ZM4.80001 5.6C4.58783 5.6 4.38435 5.68428 4.23432 5.83431C4.08429 5.98434 4.00001 6.18783 4.00001 6.4C4.00001 6.61217 4.08429 6.81565 4.23432 6.96568C4.38435 7.11571 4.58783 7.2 4.80001 7.2H11.2C11.4122 7.2 11.6157 7.11571 11.7657 6.96568C11.9157 6.81565 12 6.61217 12 6.4C12 6.18783 11.9157 5.98434 11.7657 5.83431C11.6157 5.68428 11.4122 5.6 11.2 5.6H4.80001Z' fill='black' fill-opacity='0.4'/%3E%3C/svg%3E") no-repeat;
        background-position-x: right;
      }
    }

    &#curator {
      &::placeholder {
        background: no-repeat url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23441 5.83439C4.38443 5.68442 4.58788 5.60017 4.80001 5.60017C5.01214 5.60017 5.21559 5.68442 5.36561 5.83439L8.00001 8.4688L10.6344 5.83439C10.7082 5.75799 10.7965 5.69704 10.8941 5.65511C10.9917 5.61319 11.0967 5.59112 11.2029 5.59019C11.3091 5.58927 11.4145 5.60951 11.5128 5.64974C11.6111 5.68996 11.7004 5.74936 11.7755 5.82448C11.8506 5.89959 11.91 5.98891 11.9503 6.08723C11.9905 6.18555 12.0107 6.29089 12.0098 6.39712C12.0089 6.50334 11.9868 6.60831 11.9449 6.70592C11.903 6.80352 11.842 6.8918 11.7656 6.96559L8.56561 10.1656C8.41559 10.3156 8.21214 10.3998 8.00001 10.3998C7.78788 10.3998 7.58443 10.3156 7.43441 10.1656L4.23441 6.96559C4.08444 6.81557 4.00018 6.61213 4.00018 6.39999C4.00018 6.18786 4.08444 5.98442 4.23441 5.83439Z' fill='black' fill-opacity='0.4'/%3E%3C/svg%3E%0A");
        background-position-x: right;
      }
    }
}
